.dropdown {
	&-container {
		text-align: left;
	}

	&-label-text {
		margin-bottom: 8px;
		color: #333;
		font-weight: 600;
	}

	&-button-container {
		position: relative;
	}

	&-button {
		padding: 12px 16px;
		border: 1px solid #ccc;
		border-radius: 4px;
		outline: none;
		background-color: white;
		color: #333;
		font-weight: 700;
		cursor: pointer;

		&:hover {
			background-color: #eee;
		}

		&:active {
			background-color: #ddd;
		}
	}

	&-options-container {
		z-index: 1;
		position: absolute;
		top: -12px;
		left: 0;
		width: max-content;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: white;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	&-option {
		padding: 12px 16px;
		color: #333;
		cursor: pointer;

		&.dropdown-option-selected {
			color: #333;
			font-weight: 700;
		}

		&:hover {
			background-color: #eee;
		}

		&:active {
			background-color: #ddd;
		}
	}
}
