.parking-item {
	height: fit-content;
	margin: 10px 0;
	border-radius: 4px;
	background-color: var(--secondary-background-color);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;

	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

	&:hover {
		transform: translateY(-5px);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	}

	&__title {
		margin: 0;
		overflow: hidden;
		color: white;
		text-overflow: ellipsis;
		text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
		white-space: nowrap;
		&-container {
			display: flex;
			justify-content: space-between;
			padding: 10px;
			background-color: #1e88e5;
			font-size: 1.1rem;
			letter-spacing: 0.0125em;
			line-height: 1.75rem;
		}
	}

	&__btn {
		display: flex;
		&-more,
		&-location,
		&-favorite {
			padding: 8px;
			border: 0;
			border-radius: 50%;
			background-color: transparent;
			color: var(--secondary-text-color);

			cursor: pointer;
			transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

			svg {
				$size: 1.5rem;
				width: $size;
				height: $size;
				font-size: $size;
			}
			&:hover {
				background-color: var(--background-color);
			}
			.chevron-icon {
				transform: rotate(0deg);
				transition: transform 0.7s ease-in-out;

				&--open {
					transform: rotate(180deg);
				}
			}
		}
		&-more {
			margin-left: auto;
			svg {
				$size: 1.2rem;
				width: $size;
				height: $size;
				font-size: $size;
			}
		}
	}

	&__info {
		margin: 0 10px;
		padding: 8px 0;
		color: var(--secondary-text-color);

		&-key,
		&-value {
			margin: 0;
		}
		&-key {
			font-weight: 600;
		}
	}

	&__extra-content {
		height: 0;
		overflow: hidden;
		transition: height 0.7s ease-in-out;
	}

	&__map-container {
		height: 200px;
		iframe {
			border: none;
		}
	}
}
